@model IEnumerable<FinalFantasu.Models.Figure>
@{
    ViewBag.Title = "Trang chủ";
}

<!--Carousel-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="owl-carousel owl-theme owl-loaded" id="slide-home">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-12208px, 0px, 0px); transition: all 0.25s ease 0s; width: 16786px;">
                            <div class="owl-item" style="width: 1526px; margin-right: 0px;">
                                <div class="slide-content">
                                    <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_6.jpg?v=168" alt="slide 6" title="slide 6">
                                    <div class="caption-slide hidden-xs">
                                        <div class="container">
                                            <h1>SÀN GIAO DỊCH</h1>
                                            <h2>JAPAN FIGURE TRADING</h2>
                                            <p>
                                                Fig bạn có người khác cần!
                                                <br> Fig bạn cần người khác có!
                                            </p>
                                            <div class="btn-readmore">
                                                <a href="https://bit.ly/jftrade" class="btn">THAM GIA NGAY</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 1526px; margin-right: 0px;">
                                <div class="slide-content">
                                    <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_7.jpg?v=168" alt="slide 7" title="slide 7">
                                    <div class="caption-slide hidden-xs">
                                        <div class="container">
                                            <h1>R18 - Bộ sưu tập</h1>
                                            <h2>figure "khiêu khích" tại Nhật 2018</h2>
                                            <p>Ảnh 18+ cân nhắc trước khi xem</p>
                                            <div class="btn-readmore">
                                                <a href="blogs/tin-tuc/r18-trien-lam-figure-khieu-khich-tai-nhat-2018" class="btn">XEM</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 1526px; margin-right: 0px;">
                                <div class="slide-content">
                                    <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_1.jpg?v=168" alt="slide 1" title="slide 1">
                                    <div class="caption-slide hidden-xs">
                                        <div class="container">
                                            <h1>Chủ nhân, ngài muốn dùng Vanilla, hay là Chocola</h1>
                                            <h2>HAY LÀ CẢ 2 Ạ?</h2>
                                            <p>-2 hộp Nendoroid Nekopara sale off cuối cùng-</p>
                                            <div class="btn-readmore">
                                                <a href="https://japanfigure.vn/search?q=NEKOPARA+NENDOROID" class="btn">SỞ HỮU NGAY</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 1526px; margin-right: 0px;">
                                <div class="slide-content">
                                    <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_2.jpg?v=168" alt="slide 2" title="slide 2">
                                    <div class="caption-slide hidden-xs">
                                        <div class="container">
                                            <h1>cung cấp</h1>
                                            <h2>
                                                Sản phẩm chính hãng
                                                <br>từ Nhật Bản
                                            </h2>
                                            <p>
                                                Japan Figure là thiên đường với những người quan tâm
                                                <br>theo đuổi vẻ đẹp thật sự, đam mê figure cao cấp,
                                                <br>đầy mê hoặc của Nhật Bản.
                                            </p>
                                            <div class="btn-readmore">
                                                <a href="/Home/AboutUs" class="btn">XEM THÊM</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 1526px; margin-right: 0px;">
                                <div class="slide-content">
                                    <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_3.jpg?v=168" alt="slide 3" title="slide 3">
                                    <div class="caption-slide hidden-xs">
                                        <div class="container">
                                            <h1>Hướng dẫn</h1>
                                            <h2>Dành cho người mới</h2>
                                            <p>
                                                Phân biệt Thật/ Giả
                                                <br>
                                                Cách vệ sinh Figure, Cách sơn sửa Figure
                                                <br>
                                                Cách tự tạo sa bàn, mô hình, nội thất, nhà cửa
                                            </p>
                                            <div class="btn-readmore">
                                                <a href="/blogs/huong-dan" class="btn">XEM CHI TIẾT</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 1526px; margin-right: 0px;">
                                <div class="slide-content">
                                    <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_4.jpg?v=168" alt="slide 4" title="slide 4">
                                    <div class="caption-slide hidden-xs">
                                        <div class="container">
                                            <h1>JapanFigure.vn</h1>
                                            <h2>
                                                Mang nhân vật bạn thích
                                                <br> đến gần bạn hơn
                                            </h2>
                                            <p>
                                                Mua bán - Cập nhật thông tin sản phẩm mới mỗi ngày.
                                                <br>
                                                Giải đáp cho bạn mọi thắc mắc về figure, cách mua hàng,
                                                <br>
                                                Hỗ trợ vận chuyển miễn phí,
                                                <br>
                                                Săn tìm figure từ hiếm cho đến cực hiếm.
                                            </p>
                                            <div class="btn-readmore">
                                                <a href="" class="btn"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 1526px; margin-right: 0px;">
                                <div class="slide-content">
                                    <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_5.jpg?v=168" alt="slide 5" title="slide 5">
                                    <div class="caption-slide hidden-xs">
                                        <div class="container">
                                            <h1>Sx hàng loạt ko có nghĩa là vô hạn</h1>
                                            <h2>figure chính hãng tăng giá theo thời gian</h2>
                                            <p>nên đặt hàng sớm tại japanfigure.vn</p>
                                            <div class="btn-readmore">
                                                <a href="blogs/huong-dan/vi-sao-nen-dat-mua-figure-som-tai-japanfigure-vn" class="btn">ĐÂY LÀ LÝ DO</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="owl-controls">
                            <div class="owl-nav">
                                <div class="owl-prev" style="">
                                    <i class="fa fa-chevron-left"></i>
                                </div>
                                <div class="owl-next" style="">
                                    <i class="fa fa-chevron-right"></i>
                                </div>
                            </div>
                            <div class="owl-dots" style="display: none;"></div>
                        </div>*@
                </div>

            </div>
        </div>
    </div>
</div>
<!--client,content-->
<div class="container status-row" style=" margin-top:100px">
    <div class="row">
        <div class="tg-allstatus">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="tg-parallax tg-bgbookwehave" data-z-index="0" data-appear-top-offset="600" data-parallax="scroll" data-image-src="//theme.hstatic.net/1000160337/1000373353/14/pstatus_1_r1_thanh_tuu_img_1.jpg?v=168">
                    <div class="tg-status">
                        <div class="tg-statuscontent">
                            <span class="tg-statusicon"><i class="fa fa-users"></i></span>
                            <h2>
                                Khách hàng
                                <span>@ViewBag.TotalUser</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="tg-parallax tg-bgtotalmembers" data-z-index="0" data-appear-top-offset="600" data-parallax="scroll" data-image-src="//theme.hstatic.net/1000160337/1000373353/14/pstatus_1_r1_thanh_tuu_img_2.jpg?v=168">
                    <div class="tg-status">
                        <div class="tg-statuscontent">
                            <span class="tg-statusicon"><i class="fa fa-tags"></i></span>
                            <h2>
                                YES! Chúng tôi gửI tới
                                <span>TẬN ĐỊA CHỈ NHÀ BẠN</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="tg-parallax tg-bghappyusers" data-z-index="0" data-appear-top-offset="600" data-parallax="scroll" data-image-src="//theme.hstatic.net/1000160337/1000373353/14/pstatus_1_r1_thanh_tuu_img_3.jpg?v=168">
                    <div class="tg-status">
                        <div class="tg-statuscontent">
                            <span class="tg-statusicon"><i class="fa fa-heart"></i></span>
                            <h2>
                                Khách hàng thân thiết
                                <span>@ViewBag.TotalUser</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Quote-->
<div class="featured-sldier-title group-title" style="margin-bottom:80px">
    <h2>Sản phẩm Order - Đặt trước Nhận hàng sau</h2>
    <div class="quote_txt">Figure là những sản phẩm giới hạn, giá có xu hướng tăng dần theo thời gian. Đặt trước là cách để bạn có được giá tốt nhất.</div>
</div>
<!--commitment-->
<div class="service">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="tg-clientservices">

                    <li class="tg-devlivery">
                        <span class="tg-clientserviceicon"><i class="fa fa-rocket"></i></span>
                        <div class="tg-titlesubtitle">
                            <h3>GIAO HÀNG NHANH</h3>
                            <p>Vận chuyển trên toàn quốc</p>
                        </div>
                    </li>

                    <li class="tg-discount">
                        <span class="tg-clientserviceicon"><i class="fa fa-tag"></i></span>
                        <div class="tg-titlesubtitle">
                            <h3>Miễn phí giao hàng</h3>
                            <p>Với các đơn hàng trên 1 triệu đồng</p>
                        </div>
                    </li>

                    <li class="tg-quality">
                        <span class="tg-clientserviceicon"><i class="fa fa-envira"></i></span>
                        <div class="tg-titlesubtitle">
                            <h3>Ký gửi bán hộ </h3>
                            <p>Bạn muốn thanh lý figure? Hãy liên hệ với tụi mình nhé</p>
                        </div>
                    </li>
                    <li class="tg-support">
                        <span class="tg-clientserviceicon"><i class="fa fa-heart"></i></span>
                        <div class="tg-titlesubtitle">
                            <h3>Hỗ trợ 24/7</h3>
                            <p>Phục vụ từng khoảnh khắc</p>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>
<!--Sample Saber-->
<section class="tg-bglight tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="tg-featureditm product-detail">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-sm hidden-xs product-image">
                    <figure><img src="~/Content/dist/img/Saber2.0.png" style="width:80%;margin-top:100px" alt="FATE/GRAND ORDER SABER/ALTRIA PENDRAGON [ALTER] HE"></figure>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="tg-featureditmcontent">
                        <div class="tg-themetagbox"><span class="tg-themetag">FIGMA SABER 2.0</span></div>
                        <div class="tg-booktitle">
                            <h3><a href="/User/Details?id=844">FATE/GRAND ORDER SABER/ALTRIA PENDRAGON [ALTER] HE</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="/User/AllProduct?page=1&text=&type=0&cate=3&sort=0&pageSize=12&priceFrom=0&priceTo=0">Good Smile Company</a></span>
                        <span class="tg-stars"><span></span></span>
                        <div class="tg-priceandbtn">
                            <span class="tg-bookprice">
                                <ins>4,720,000 đ</ins>
                                <del>5,800,000 ₫</del>
                            </span>
                            <a class="add-to-cart tg-btn tg-btnstyletwo tg-active" href="/User/Details?id=844">
                                <i class="fa fa-shopping-basket"></i>
                                <em>Xem sản phẩm</em>
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Number of Fig-->
<section class="tg-parallax tg-bgcollectioncount tg-haslayout" data-z-index="-100" style="margin-top:50px" data-appear-top-offset="600" data-parallax="scroll" data-image-src="http://file.hstatic.net/1000266609/file/bgparallax-04.jpg">
    <div class="tg-collectioncount tg-haslayout">
        <div class="container">
            <div class="row">
                <div id="tg-collectioncounters" class="tg-collectioncounters">

                    <div class="tg-collectioncounter tg-drama">
                        <div class="tg-collectioncountericon">
                            <i class="fa fa-flask"></i>
                        </div>
                        <div class="tg-titlepluscounter">
                            <a href="/User/AllProduct">
                                <h2>Scale Figure</h2>
                            </a>
                            <h3 class="counter" data-count="@ViewBag.ScaleNum">@ViewBag.ScaleNum</h3>

                        </div>
                    </div>

                    <div class="tg-collectioncounter tg-horror">
                        <div class="tg-collectioncountericon">
                            <i class="fa fa-diamond"></i>
                        </div>
                        <div class="tg-titlepluscounter">
                            <a href="/User/AllProduct">
                                <h2>Chibi Figure</h2>
                            </a>
                            <h3 class="counter" data-count="@ViewBag.ChibiNum">@ViewBag.ChibiNum</h3>

                        </div>
                    </div>

                    <div class="tg-collectioncounter tg-romance">
                        <div class="tg-collectioncountericon">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="tg-titlepluscounter">
                            <a href="/User/AllProduct">
                                <h2>Action Figure</h2>
                            </a>
                            <h3 class="counter" data-count="@ViewBag.ActionNum">@ViewBag.ActionNum</h3>

                        </div>
                    </div>

                    <div class="tg-collectioncounter tg-fashion">
                        <div class="tg-collectioncountericon">
                            <i class="fa fa-hourglass"></i>
                        </div>
                        <div class="tg-titlepluscounter">
                            <a href="/User/AllProduct">
                                <h2>Artbook</h2>
                            </a>
                            <h3 class="counter" data-count="0">0</h3>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--Sample-->
<div class="featured">
    <div class="container">
        <div class="featured-container special-button-owl">
            <div class="featured-sldier-title group-title">
                <h2>Sản phẩm Order - Đặt trước Nhận hàng sau</h2>
                <div class="quote_txt">Figure là những sản phẩm giới hạn, giá có xu hướng tăng dần theo thời gian. Đặt trước là cách để bạn có được giá tốt nhất.</div>
            </div>
            <div class="row">
                <div class="featured-product-slider add-quickview owl-carousel owl-theme owl-loaded" data-items="5" data-tablet="2" data-mobile="2" data-mobile-xs="2" data-nav="true" data-dots="false" data-autoplay="true" data-speed="2500" data-autotime="6000">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-2695px, 0px, 0px); transition: all 2.5s ease 0s; width: 20790px;">

                            @foreach (var sample in (List<FinalFantasu.Models.Figure>)ViewBag.sample)

                            {
                                <div class="owl-item" style="width: 365px; margin-right: 20px;">
                                    <div class="row_items ">
                                        <div class="item product-detail">
                                            <div class="item-inner ">
                                                <div class="left-block">
                                                    <h2 class="name">
                                                        <a href="/User/Details?id=@sample.ID">@sample.Title</a>
                                                    </h2>
                                                    <div class="price-box box-regular">
                                                        <span class="regular-price">
                                                            <span class="price">@sample.Price₫</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="image product-image">
                                                    <a href="/User/Details?id=@sample.ID" title="@sample.Title">

                                                        <picture>
                                                            <source media="(max-width: 1199px)" srcset="@sample.Images.First().Url">
                                                            <source media="(min-width: 1200px)" srcset="@sample.Images.First().Url">
                                                            <img src="@sample.Images.First().Url">
                                                        </picture>

                                                    </a>

                                                </div>
                                                <!--images-container-->
                                                <div class="cart">
                                                    <button type="button">
                                                    <a href="/User/Details?id=@sample.ID">Thêm vào giỏ</a>
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- item-inner -->
                                        </div>
                                        <!-- item -->
                                    </div>
                                </div>
                                }
                            <div class="owl-controls">
                                <div class="owl-nav">
                                    <div class="owl-prev" style="">prev</div>
                                    <div class="owl-next" style="">next</div>
                                </div>
                                <div class="owl-dots" style="display: none;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Guest comment-->
<div class="container-fluid" id="px_y-kien-khach-hang_y-kien-type-2">
    <div class="container">
        <div class="row px_title featured-sldier-title">
            <h2>
                Ý KIẾN KHÁCH HÀNG
            </h2>
            <h3>
            </h3>
        </div>
        <div class="row content">


            <div class="col-sm-4 content_box">
                <img src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.6435-9/178090761_1897874390374165_3687689589231035313_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=JMdi9rym9voAX_zlBZ3&_nc_ht=scontent-hkg4-1.xx&oh=0aedf58083a3c7b8c654da541c21c2c9&oe=60DA347E" alt="">
                <div>
                    <p>Lựa chọn hàng đầu về mua fig tại Việt Nam thì chỉ có Japan Figure là số 1</p>
                    <h4>Phạm Việt Dũng  <em>- Sơn Tây -</em></h4>
                </div>
            </div>

            <div class="col-sm-4 content_box">
                <img src="https://scontent-hkg4-2.xx.fbcdn.net/v/t1.6435-9/135768495_1869891516495681_3766114726751852036_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=I1H2crLbPpcAX9lVEU7&_nc_ht=scontent-hkg4-2.xx&oh=683b09df30c4bb85efbd477f21f44f16&oe=60D915D1" alt="">
                <div>
                    <p>
                        Em theo dõi shop từ lâu lắm rồi và đã thích shop. Thích vì cập nhật nhiều figure mới, event mới cho mn và nhờ shop mà em mới biết figure tinh tế tới cỡ nào, cách phân biệt hàng chính hãng và hàng giả nữa.
                        Shop viết bài rất hay về các bé fig và nendoroid nên em rất thích thú. Như vậy làm cho con dân mê fig như em hiểu rõ hơn và càng muốn order fig bên shop lắm. Nhưng vì chưa đủ xèng nên chưa bao giờ đc mua fig bên shop cả. Nếu 1 ngày em đc mua fig chính hãng thì chỉ có shop mới là sự lựa chọn hàng đầu của e😊. Bởi tính cẩn thận và sự uy tín của JF nên e rất yên tâm 100%✓✓✓ . Mong một ngày nào đó sẽ ủng hộ shop&lt;3
                    </p>
                    <h4>Quốc Anh <em>- TP. Hải Phòng -</em></h4>
                </div>
            </div>

            <div class="col-sm-4 content_box">
                <img src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.6435-9/101656353_252127159371864_7052816752253599744_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=174925&_nc_ohc=5hO7z5EIOwkAX9ufFm2&_nc_ht=scontent.fhan3-1.fna&oh=34ecf81877644ab033685a827e518ab0&oe=60D92DE9" alt="">
                <div>
                    <p>Figure của Japan Figure rất đa dạng về màu mã, giá thành cũng phù hợp với mọi túi tiền. Quan trọng nhất là chất lượng sản phẩm của JF rất tuyệt vời, độ bền cao, anh em không phải đắn đo khi mua figure tại JF.</p>
                    <h4>Nguyễn Tiến Dương <em>- Phú Thọ -</em></h4>
                </div>
            </div>

        </div>
    </div>
</div>
<!--publisher-->
<div class="featured-sldier-title group-title" style="margin-top:50px; text-align: center;">
    <h2>Các Hãng Figure Nổi Tiếng</h2>
    <div class="quote_txt">Những thương hiệu nổi tiếng và đầy đủ bản quyền</div>
</div>
<div class="row cms-icon-menu" style="
        margin: 15px 0px 0px 0px;
        background-color: #fff;
        text-align: center;
        padding: 15px 4px !important">
    <div class="col-sms-3 col-sm-3 col-md-3" style="margin-top: 14px">
        <div>
            <a href="/"><img src="~/Content/dist/img/maxfac.png" sizes="74x74" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name" style="margin-top: 14px; font-family: Arial">Max Factory</div>
    </div>
    <div class="col-sms-3 col-sm-3 col-md-3" style="margin-top: 14px">
        <div>
            <a href="/"><img src="~/Content/dist/img/bandai.png" sizes="74x74" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name" style="margin-top: 14px; font-family: Arial">BanDai</div>
    </div>
    <div class="col-sms-3 col-sm-3 col-md-3" style="margin-top: 14px">
        <div>
            <a href="/"><img src="~/Content/dist/img/alter.png" sizes="74x74" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name" style="margin-top: 14px; font-family: Arial">Alter</div>
    </div>
    <div class="col-sms-3 col-sm-3 col-md-3" style="margin-top: 14px; font-family: Arial">
        <div>
            <a href="/"><img src="~/Content/dist/img/ryu.png" sizes="74x74" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name" style="margin-top: 14px; font-family: Arial">RYU Studio</div>
    </div>
    <div class="col-sms-3 col-sm-3 col-md-3" style="margin-top: 14px">
        <div>
            <a href="/"><img src="~/Content/dist/img/smile.png" sizes="74x74" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name" style="margin-top: 14px; font-family: Arial">Good Smile</div>
    </div>
    <div class="col-sms-3 col-sm-3 col-md-3" style="margin-top: 14px">
        <div>
            <a href="/"><img src="~/Content/dist/img/kotobukiya.png" sizes="74x74" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name" style="margin-top: 14px ; font-family: Arial">Kotobukiya</div>
    </div>
    <div class="col-sms-3 col-sm-3 col-md-3" style="margin-top: 14px">
        <div>
            <a href="/"><img src="~/Content/dist/img/tsume.png" sizes="74x74" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name" style="margin-top: 14px; font-family: Arial">Tsume</div>
    </div>
    <div class="col-sms-3 col-sm-3 col-md-3" style="margin-top: 14px">
        <div>
            <a href="/"><img src="~/Content/dist/img/tamagochi.png" sizes="74x74" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name" style="margin-top: 14px; font-family: Arial">Tamagochi</div>
    </div>
</div>
<script>
    let addToCart = () => {
        const quant = 1;
        console.log(quant)     
        window.location.href = `/User/AddToCart?idfig=844&quantity=${quant}`;
}
</script>